extends layout

block content
  h1= title

  form.py-4(action="", method="POST")
    .flex.justify-start.items-center.py-2
      label.px-2.w-32(for="name") Name:
      input#name.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="text", name="name", placeholder="Category", class="focus:outline-none focus:bg-white focus:border-blue-500" value=(category ? category.name : ""), required)
    .flex.justify-start.items-center.py-2
      label.px-2.w-32(for="description") Description:
      textarea#description.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(cols="30", rows="10", name="description", placeholder="Description", class="focus:outline-none focus:bg-white focus:border-blue-500", required) !{category ? category.description : ""}
    .flex.justify-start.items-center.py-2
      if edit
        input#password.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="password", name="password", placeholder="Enter password to confirm", class="focus:outline-none focus:bg-white focus:border-blue-500")
      button.mx-2.bg-blue-500.text-white.font-bold.py-2.px-4.rounded(type="submit", class="hover:bg-blue-700") Save

  if errors
    ul
      for error in errors
        li.text-red-600!= error.msg

block sidebar-extension
  if categories
    for category in categories
      li
        a(href=(category.url)) #{category.name}